/* IMPORT EXTERNAL FONTS & ICONS */
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

/* IMPORT YOUR MODULES */
@tailwind base;
@tailwind components;
@tailwind utilities;
